# Backend
backend_spring/target/
backend_spring/.mvn/wrapper/maven-wrapper.jar
backend_spring/.mvn/wrapper/maven-wrapper.properties
backend_spring/.idea/
backend_spring/*.iml

# Frontend
frontend-react/node_modules/
frontend-react/build/
frontend-react/.env
frontend-react/.env.local
frontend-react/.env.development.local
frontend-react/.env.test.local
frontend-react/.env.production.local
frontend-react/npm-debug.log*
frontend-react/yarn-debug.log*
frontend-react/yarn-error.log*

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

